* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign {
  width: 100%;
  height: 100vh;
  background-color: #bfccdc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupcontainer {
  width: 25%;
  height: 90%;
  background-color: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  justify-content: space-between;
  padding: 5px;
}

.signupLogo {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;

  gap: 10px;
}

.signupLogo img {
  height: 40%;
  width: 10%;
}

.signupInputFields {
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.styleInput {
  width: 340px;
  border-bottom: 1px solid grey;
}

.signupBtn {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.texxt {
  width: 77%;
  height: 10%;
  display: flex;
  align-items: flex-start;
  margin-top: 1%;
}

.texxt p {
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
}

.signupinputstyle {
  position: relative;
}

.eyebtn {
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  left: 310px;
}

.eyeBtnopen:hover {
  color: orange;
  transition: 0.3s ease;
}

.eyeBtn:hover {
  color: orange;
  transition: 0.3s ease;
}

@media (max-width: 767px) {
  .sign {
    width: 100%;
    height: 100vh;
    background-color: #bfccdc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signupcontainer {
    width: 95%;
    height: 90%;
    background-color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px); */
    justify-content: space-between;
    padding: 10px;
  }

  .signupInputFields {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
  }

  .signupinputstyle {
    position: relative;
  }
F
  .styleInput {
    width: 310px;
    padding: 5px;
  }
  .eyebtn {
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: 290px;
  }

  .signupBtn {
    width: 100%;
    height: 15%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 15px; */
  }

  .texxt {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    margin-top: 1%;
  }
}
