* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.log {
  width: 100%;
  height: 100vh;
  background-color: #dbcdc2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginLogo {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  margin-top: 6%;
  gap: 10px;
}

.LoginLogo img {
  height: 60%;
  width: 8%;
}

.logWrap {
  width: 100%;
  height: 100%;
  background: url(../../../assests/bible.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logs {
  width: 30%;
  height: 70%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LoginFields {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inpp {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 15px;
  position: relative;
}

.LoginInputField {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
 
}

.bubu{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: purple; */
}

.acc {
  width: 70%;
  height: 10%;
  display: flex;
  align-items: flex-start;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.eyeBtn {
  cursor: pointer;
  position: relative;
  /* right: -150px; */
  left: 150px;
  bottom: 60px;
}

.eyeBtnopen:hover {
  color: orange;
  transition: 0.3s ease;
}

.eyeBtn {
  cursor: pointer;
}

.eyeBtn:hover {
  color: orange;
  transition: 0.3s ease;
}

@media (max-width: 767px) {
  .logWrap {
    width: 100%;
    height: 100%;
    background: url(../../../assests/bible.png);
    background-position: center;
    background-size: 400%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logs {
    width: 90%;
    height: 55%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
    flex-direction: column;
  }

  .LoginFields {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .LoginLogo {
    height: 20%;
  }

  .LoginLogo img {
    height: 60%;
    width: 12%;
  }

  .eyeBtn {
    cursor: pointer;
    position: relative;
    right: 0px;
    left: 120px;
    bottom: 60px;
  }

  .LoginInputField {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  .acc {
    width: 70%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }

  .p{
    color: red;

  }
}
